<header class="header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand logo">
        <img src="icon/Logou.png" alt="Logo">
      </a>
      <div class="list">
        <ul class="navbar-nav mr-auto flex-row flex-wrap">
          <li class="nav-item me-2">
            <button class="bub">
              <i class="bi bi-house nav-link"></i>
              <span class="nav-link first spa" [routerLink]="['']">Inicio</span>
            </button>
          </li>
          <li class="nav-item me-2">
            <button class="bub">
              <i class="bi bi-bag-plus nav-link"></i>
              <span class="nav-link spa" [routerLink]="['orders']">Pedidos</span>
            </button>
          </li>
          <li class="nav-item me-2">
            <button class="bub">
              <i class="bi bi-info-square nav-link"></i>
              <span class="nav-link spa" [routerLink]="['info']">Informacion</span>
            </button>
          </li>
          <li class="nav-item me-2">
            <button class="bub">
              <i class="bi bi-telephone-inbound nav-link"></i>
              <span class="nav-link spa" (click)="scrollToBottom()">Contactos</span>
            </button>
          </li>
        </ul>
      </div>
      <div class="d-flex align-items-center">
        <a *ngIf="!isLoggedIn" [routerLink]="['/login']">
          <button class="bu me-2">
            <i class="bi bi-door-open-fill"></i>
            <span class="spa">Iniciar Sesion</span>
          </button>
        </a>
        <a *ngIf="isLoggedIn" (click)="logout()" style="cursor: pointer;">
          <button class="bu me-2">
            <i class="bi bi-door-closed-fill"></i>
            <span class="spa">Cerrar Sesión</span>
          </button>
        </a>
        <a *ngIf="!isLoggedIn" [routerLink]="['register']">
          <button class="bu">
            <i class="bi bi-person-add"></i>
            <span class="spa">Registrarse</span>
          </button>
        </a>
      </div>
    </div>
  </nav>
</header>