<footer class="foot">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h4 class="mb-4 mt-3 txt foot-line">Información de Contacto</h4>
          <p class="mb-2 txt"><i class="bi bi-house-door-fill"></i> Calle 14 #5-120</p>
          <p class="mb-2 txt"><i class="bi bi-buildings"></i> Neiva-Huila, Colombia</p>
          <p class="mb-2 txt"><i class="bi bi-telephone-inbound"></i> +57 316 4106820</p>
          <p class="mb-2 txt"><i class="bi bi-envelope-fill"></i> cerealescordoba&#64;outlook.com</p>
        </div>
        <div class="col-md-4">
          <h4 class="mb-4 mt-3 txt foot-line">Redes Sociales</h4>
          <ul class="list-unstyled d-flex gap-3">
            <li>
              <a href="https://www.facebook.com/profile.php?id=100082268940649" class="txt foot-link" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-facebook fs-4"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/invites/contact/?igsh=1lij54xa27762&utm_content=o3sqpj5 " class="txt foot-link" target="_blank" rel="noopener noreferrer">
                <i class="bi bi-instagram fs-4"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <h4 class="mb-4 txt mt-3 foot-line">Enlaces</h4>
          <ul class="list-unstyled">
            <li class="mb-2"><a [routerLink]="['']" (click)="scrollToTop()" class="txt foot-link">Inicio</a></li>
            <li class="mb-2"><a [routerLink]="['orders']" class="txt foot-link">Pedidos</a></li>
            <li class="mb-2"><a [routerLink]="['info']" (click)="scrollToTop()" class="txt foot-link">Información</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

