<section class="wrap py-5">
    <div class="container about">
      <div class="row align-items-center shadow p-4 rounded">
        <div class="col-md-6">
          <h3 class="mb-4 title">Sobre nuestra empresa</h3>
          <p class="txt">
            Desde nuestros inicios, hemos trabajado arduamente para ofrecer productos 
            de la más alta calidad. Nuestra pasión y compromiso nos han permitido 
            crecer y convertirnos en un referente en la industria.
          </p>
          <p class="txt mb-2">
            Cada paso en nuestra historia ha estado marcado por la dedicación a nuestros 
            clientes, quienes son el motor que impulsa nuestra evolución constante.
          </p>
        </div>
        <div class="col-md-6">
          <img src="info1.jpg" alt="Nuestra Historia" class="img-fluid rounded shadow">
        </div>
      </div>
    </div>
</section>

<article class="wrap2 py-5">
  <div class="container">
    <h3 class="title mb-2 pt-2 text-center">Nuestra historia</h3>
    <div class="line"></div>
    <div class="txt-a about shadow p-4 rounded">
    <p >
      En la actualidad <strong>CÓRDOVA SAS</strong> cuyo objeto social es la producción y comercialización de productos alimenticios, en especial los cereales, constituida en junio del 2004 de herencia familiar.
    </p>
    <p >
      En la década de los 50's, don Ernesto Córdoba Yánez, inquieto empresario hulenense, probó fortuna con una pequeña tostadora de café, la que años más tarde artesanalmente consagro el grano hasta comercializarlo, en bolsas de papel celofán, con el flamante nombre de <strong>"CAFÉ SULTAN"</strong>.
    </p>
    <p >
      A pesar de ser una actividad económica rentable, el inquieto don Ernesto, se fijó en una actividad que apenas se iniciaba en esa época: los condimentos. Constituyó la marca de condimentos <strong>"EL ZIPA"</strong>, relativamente exitosa, por su contenido eminentemente natural.
    </p>
    <p>
      Doña Esther Nieto, esposa de don Ernesto, se dedicaba a las actividades domésticas y al cuidado de una frondosa familia de once hijos. Por azar, descubrió que las masitas de maíz, de yuca o de arroz, que ella preparaba en forma manual para las sopas, y que comúnmente se utilizaban por aquellos días, al ser molidas en los famosos <strong>“MOLINOS CORONA”</strong>, formaban una agradable figura alargada, enrollada en espiral, un poco gruesa, aspecto apetecible y fácil de maniobrar en los menesteres culinarios.
    </p>
    <p>
      A don Ernesto, le llamó poderosamente la atención este proceso y no dudó un momento en profundizar al respecto. Probó repetidamente, hasta que encontró la manera de producir en cantidades mayores. Siguió la técnica desarrollada por doña Esther, solo le adicionó el secado, al sol. Desde ese momento, al nuevo producto, le dio el nombre de <strong>“CEREALES CÓRDOBA”</strong>.
    </p>
    </div>
  </div>
</article>

<section class="wrap py-5">
  <div class="container mision-vision">
    <div class="mision about shadow p-4 rounded">
      <h2 class="title">Misión</h2>
      <div class="line"></div>
      <p class="txt-b">
        Nuestro compromiso es diseñar, elaborar y ofrecer productos alimenticios 100% naturales y saludables de la mejor calidad para contribuir a satisfacer las necesidades de alimentación y nutrición de la población Colombiana.
      </p>
    </div>
    <div class="vision about shadow p-4 rounded">
      <h2 class="title">Visión</h2>
      <div class="line"></div>
      <p class="txt-b" >
        Es la empresa líder en el departamento del Huila, en el procesamiento de los Cereales Rullas Córdoba, que eleve la inocuidad al 100%, innovando constantemente tecnologías de alimentos. Llegar a ser una empresa posicionada en el mercado nacional con perspectiva exportadora a países vecinos en un tiempo no mayor a 10 años.
      </p>
    </div>
  </div>
</section>
