<section class="wrap">
    <div class="container-fluid p-0">
        <img src="/slide1.jpg" alt="Imagen" class="img-fluid imgwid">
    </div>
    <div class="welcome">
     <h1 class="title">Cereales Córdoba</h1>
     <div class="line"></div>
     <p class="txt">
          Bienvenido a nuestra página web. Somos una empresa líder en la producción y distribución de cereales de la más alta calidad. 
          Nuestra misión es ofrecer productos nutritivos y sabrosos, cumpliendo con las expectativas de nuestros clientes mayoristas 
          y contribuyendo a una alimentación balanceada para sus consumidores finales.
     </p>
     <button class="cta-button">Conoce más</button>
    </div>
</section>
